@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

@import url("https://fonts.googleapis.com/css?family=Aleo:400,700");

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Lato", sans-serif;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f8f8f8;
  color: hsla(0, 0%, 0%, 0.8);
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-size: 18px !important;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
  text-decoration: none !important;
  font-family: "Poppins";
  
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
  color: #00a99d !important;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

.coup-btn{
  padding-top: 10px;
}
.cart-summary-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  flex-wrap: wrap;
}
.cart-summary-inner {
  width: 70%;
  max-width: 700px;
}
.cart-header {
  margin: 10px;
  padding: 20px;
  background-color: white;
}
.cart-header h2 {
  margin: 0px !important;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  color: #00a99d;
}
.cart-item-title {
  font-size: 25px;
  margin-bottom: 10px !important;
}
.cart-item-title span {
  font-weight: bolder;
  font-size: 16px;
}
.cart-header p span {
  font-weight: bolder;
}

.cart-item-price {
  color: #00a99d;
  font-weight: bold;
  padding-bottom: 10px;
}

.cart-summary-card {
  width: 30%;
  max-width: 300px;
}
.cart-item-card-container {
  margin: 10px;
}
.cart-item-card-container h5 {
  margin-top: 0px;
}

.remove-cart-item-btn {
  background-color: darkred;
}
.price-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
}
.sub-total .cart-item-price-title, .sub-total .cart-item-price{
  color: grey;
  font-size: 16px;
}
.total .cart-item-price-title {
  font-size: 16px;
  font-weight: bold;
}

.sub-total .cancel{
  text-decoration: line-through;
  opacity: 0.5;
}

.cart-resize{
 width: 97%;
 margin: auto;
}

@media only screen and (max-width: 700px) {
  .package-detail-wrapper{
  padding: 10px !important;
}
  .cart-summary-container {
  padding: 30px;
  flex-direction: column;
  justify-content: inherit;
  padding-top: 30px;
}
.cart-summary-inner {
    width: 97%;
    margin: 0px auto;
}
.cart-summary-card {
    width: 97%;
    max-width: inherit;
    margin: 0px auto;
}
}

#notActive {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}

button:hover {
  background-color: #47dcbc;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
  font-family: "Aleo", serif;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: 700;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type="reset"],
button,
html [type="button"] {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.submit-button{
  background-color:#47dcbc !important;
  padding-bottom: 0px !important;
  width: 50% !important;
  color: black !important;
  font-size: 16px  !important;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}

* {
  box-sizing: inherit;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 30px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 10px;
  color: inherit;
  font-family: "Aleo", serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}

h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 30px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 10px;
  color: inherit;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}

h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}

h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 10px;
  color: inherit;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}

h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 30px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 10px;
  color: inherit;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}

h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0rem;
  color: inherit;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  line-height: 0.5rem;
  font-size: 0.78405rem;
}

hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

ul {
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  list-style-position: outside;
  list-style-image: none;
}

ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}

dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0rem;
  font-family: "Lato", sans-serif;
  font-size: 16px !important;
}

figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}

table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}

fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}

address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

b {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

dt {
  font-weight: bold;
}

th {
  font-weight: bold;
}

ol li {
  padding-left: 0;
}

ul li {
  padding-left: 0;
}

li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}

li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}

blockquote *:last-child {
  margin-bottom: 0;
}

li *:last-child {
  margin-bottom: 0;
}

p *:last-child {
  margin-bottom: 0;
}

li > p {
  margin-bottom: calc(1.45rem / 2);
}

code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}

thead {
  text-align: left;
}

td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

pre code {
  background: none;
  line-height: 1.42;
}

code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}

pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

.discounted {
  width: 150px;
  position: absolute;
  right: 25px;
  top: -20px;
  -webkit-animation: zoomAlternate 1s ease-in-out 0 infinite;
  -o-animation: zoomAlternate 1s ease-in-out 0 infinite;
  animation: zoomAlternate 1s ease-in-out 0 infinite;
}

@keyframes zoomAlternate {
  0% {
    width: 150px;
  }

  100% {
    width: 200px;
  }
}

.package-content-wrapper {
  width: 50%;
  margin: 0px auto;
  padding: 50px 0px;
}

.price-box {
  width: 250px;
	text-align: center;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 50px;
  margin-right: 30px;
	border: 2px solid #19a99d !important;
  
}
.price-header-text {
 font-weight: bolder;
	font-family: Lato,sans-serif !important;
}
.box-divider {
  border: .5px solid #c4fffa;
	width: 50%;
	margin: auto auto 10px;
}

.BigButtonStyles {
  color: #111;
	text-align: center;
	min-width: 200px;
	min-height: 50px;
	font-size: 14px;
	background: #ff0;
	margin: 0 auto;
	font-family: Lato,sans-serif;
	font-weight: 700;
	cursor: pointer;
	text-shadow: 1px 1px 3px rgba(0,0,0,.2);
	transition: all .2s ease-out;
	box-shadow: 0 3px 10px rgba(2, 89, 24, 0.17);
	border: .5px solid lightblue;
	border-radius: 5px;
}
.BigButtonStyles:hover {
  background: #47dcbc;
	color: #ff0;
	box-shadow: none;
}

.SmallButtonStyles {
  color: #111;
  text-align: center;
  min-width: 100px;
  min-height: 30px;
  font-size: 12px;
  background: yellow;
  border: none;
  margin: 0px auto;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  cursor: pointer;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-out;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}
.SmallButtonStyles:hover {
  background: #47dcbc;
  color: yellow;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.price-box-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0px auto;
}
.testimonial-section {
  display: flex;
  background: white;
  padding-top: 100px;
  padding-bottom: 100px;
}
.testimonial-inner {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
.testimonial-inner-wrapper {
  flex: 1;
  align-self: center;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.testimonial-banner {
  flex: 1;
  background: linear-gradient(
      295deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("../images/8years.jpeg");
  background-size: cover;
  color: white;
  padding: 3em;
  box-shadow: 30px 30px 0px rgba(87, 222, 191, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  min-width: auto;
}

.testimonial-banner h1 {
  font-size: 1.3em;
  line-height: 1.4em;
  text-align: center;
  font-family: Lato;
}
.package-cards {
  width: 80%;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 1em auto 4em;
}

.package-card-element {
  background: #19a99d;
  width: 250px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(59, 132, 117, 0.5);
  margin-right: 30px;
  margin-bottom: 50px;
  overflow: hidden;
}

@media only screen and (max-width: 1100px) {
  .package-content-wrapper {
    width: 60%;
  }
}

@media only screen and (max-width: 800px) {
  .package-content-wrapper {
    width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  .package-content-wrapper {
    width: 90%;
  }
  .price-box-wrapper {
    display: flex;
    justify-content: space-evenly;
  }
  .price-header-text {
    font-size: 14px;
  }
  .price-box {
    width: 90%;
    margin-bottom: 0px;
    padding: 10px;
    margin-left: 10px;
  }

  .BigButtonStyles {
    min-width: 80%;
    min-height: 20px;
    font-size: 12px;
    padding: 10px !important;
    font-weight: 500;
  }
  .testimonial-inner {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5% !important;
  }
  .testimonial-inner-wrapper {
    flex: auto;
    align-self: center;
    overflow: hidden;
    position: relative;
    height: 400px;
    width: 400px;
  }

  .package-cards {
    width: 100%;
    flex-direction: column;
    margin: 0em;
    align-items: center;
    justify-content: center;
  }

  .package-card-element {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}

.btn-wrap {
  width: 100%;
  text-align: center;
}

.checkout-button {
  padding: 10px;
  width: 30%;
  margin-top: 30px;
  background-color: #47dcbc;
  color: white;
  border: 1px solid white;
  transition: 0.8s;
  cursor: pointer;
}

.checkout-button:hover {
  background-color: #39807b;
}

.SuccessTag {
  font-family: "Lato", sans-serif;
  background-color: #19a99d;
  width: 40%;
  color: white;
  text-align: left;
  border-left: 2px solid #4a4a4a;
  position: fixed;
  top: 5%;
  right: 0px;
  color: white;
  transition: 2s;
  padding: 10px;
  -webkit-animation: showSuccess 2s ease-in-out 0s 1 alternate forwards;
  -o-animation: showSuccess 2s ease-in-out 0s 1 alternate forwards;
  animation: showSuccess 2s ease-in-out 0s 1 alternate forwards;
  display: none;
}

.SuccessTagForm {
  background-color: lightgreen;
  text-align: center;
  padding: 7px;
  border-radius: 30px;
  width: 40%;
  margin: auto;
  color: white;
  position: fixed;
  top: 50px;
  left: 10%;
  z-index: 100000;
  font-family: "Lato", sans-serif;
  -webkit-animation: showSuccess 2s ease-in-out 0s 1 alternate forwards;
  -o-animation: showSuccess 2s ease-in-out 0s 1 alternate forwards;
  animation: showSuccess 2s ease-in-out 0s 1 alternate forwards;
  display: none;
}
.t-spaceout {
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.FailedTagForm {
  background-color: red;
  text-align: center;
  padding: 7px;
  border-radius: 30px;
  width: 40%;
  margin: auto;
  color: black;
  position: fixed;
  top: 50px;
  left: 10%;
  z-index: 100000;
  font-family: "Lato", sans-serif;
  -webkit-animation: showSuccess 2s ease-in-out 0s 1 alternate forwards;
  -o-animation: showSuccess 2s ease-in-out 0s 1 alternate forwards;
  animation: showSuccess 2s ease-in-out 0s 1 alternate forwards;
}

.SuccessTag-d {
  font-family: "Lato", sans-serif;
  background-color: #19a99d;
  width: 40%;
  color: white;
  text-align: left;
  border-left: 2px solid #4a4a4a;
  position: fixed;
  top: 5%;
  right: 0px;
  color: white;
  transition: 2s;
  padding: 10px;
  -webkit-animation: showSuccess 2s ease-in-out 0s 1 alternate forwards;
  -o-animation: showSuccess 2s ease-in-out 0s 1 alternate forwards;
  animation: showSuccess 2s ease-in-out 0s 1 alternate forwards;
  display: none;
}

.SuccessTagForm-d {
  background-color: lightgreen;
  text-align: center;
  padding: 7px;
  border-radius: 30px;
  width: 40%;
  margin: auto;
  color: white;
  position: fixed;
  top: 50px;
  left: 40%;
  z-index: 100000;
  font-family: "Lato", sans-serif;
  -webkit-animation: showSuccess 2s ease-in-out 0s 1 alternate forwards;
  -o-animation: showSuccess 2s ease-in-out 0s 1 alternate forwards;
  animation: showSuccess 2s ease-in-out 0s 1 alternate forwards;
  display: none;
}

.FailedTagForm-d {
  background-color: red;
  text-align: center;
  padding: 7px;
  border-radius: 30px;
  width: 40%;
  margin: auto;
  color: black;
  position: fixed;
  top: 50px;
  left: 40%;
  z-index: 100000;
  font-family: "Lato", sans-serif;
  -webkit-animation: showSuccess 2s ease-in-out 0s 1 alternate forwards;
  -o-animation: showSuccess 2s ease-in-out 0s 1 alternate forwards;
  animation: showSuccess 2s ease-in-out 0s 1 alternate forwards;
}

@keyframes showSuccess {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}

.co-container {
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    min-height: 600px;
}

.co-inner {
  width: 95%;
  max-width: 700px;
}

.c-fill{
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px 0px;
  grid-gap: 10px;
}
.paystack-co-btn{
 border: 1px solid grey;
  background-color: #00a99d;
  font-weight: bold;
  padding: 10px 40px;
  color: white;
  border-radius: 3px;
  
}
.paystack-co-btn:hover{
  background-color: #47dcbc;
}
.c-n-fill{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 0px;
  grid-gap: 10px;
}

.co-pay-btns{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.disabled{
  opacity: 0.3;
  background-color: grey;
}

.details-side-bar {
  font-family: "Lato", sans-serif;
  box-shadow: 0px 0px 5px 1px #ccc;
  padding: 10px;
  background-color: whitesmoke;
  color: black;
}

.details-side-bar h3 {
  text-align: center;
}

.checkout-form-container {
  padding: 30px;
  padding-top: 0px;
  position: relative;
}

.single-item {
  display: grid;
  grid-template-columns: 1fr 8fr;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  align-items: center;
  padding: 10px;
}

.summaryPrice {
  text-align: right;
  padding: 5px;
  font-weight: bolder;
  border: 1px solid black;
  margin-top: 30px;
  padding-right: 15px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.row-full {
  display: grid;
  grid-template-columns: 1fr;
}

.row input,
.row-full input {
  font-family: "Lato", sans-serif;
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  font-size: 14px;
  padding: 10px 0px;
  margin-top: 20px;
  box-shadow: 0 0 0 30px white inset !important;
}

.row span,
.row-full span {
  font-size: 10px;
  color: red;
  text-align: right;
  float: right;
  line-height: 14px;
}

.row input:focus,
.row-full input:focus {
  outline: none;
  border-bottom: 2px solid #47dcbc;
  box-shadow: none;
  transition: 0.3s;
}

.c-btn {
  margin: 0px auto;
  font-family: "Lato", sans-serif;
  background-color: #39807b;
  color: white;
  width: 30%;
  padding: 5px;
  box-shadow: 0px 0px 10px 1px;
  border: none;
  margin-top: 10px;
  transition: 0.3s;
}

.payButton {
  pointer-events: none;
  cursor: not-allowed !important;
  opacity: 0.5;
}

.required {
  color: red;
}

.show {
  display: none;
}

.paymentGateway {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 3fr 7fr;
}

.paymentGateway p {
  font-size: 14px;
}

.thank-you {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 5fr 6fr;
  grid-gap: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.thank-you-inner-left {
  text-align: justify;
}

.thank-you span {
  padding: 0px;
  text-align: left;
}
.thank-you p {
  font-size: 14px;
  line-height: 18px;
}

/*Styling general custom packages*/

.customer-container {
  width: 80%;
  margin: 0px auto;
  display: grid;
  align-items: center;
  justify-content: center;
}

.cu-container {
  width: 100%;
  display: grid;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px 1px #ccc;
  padding: 50px;
  margin-bottom: 50px;
  position: relative;
}

.cu-container-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.redraft-process {
  text-align: left;
  font-size: 14px;
  margin-left: 55px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.strikedPrice {
  text-decoration: line-through;
  margin-right: 10px;
  opacity: 0.5;
  color: red;
  font-weight: bold;
  padding: 5px 5px;
  font-size: 14px;
}

.priceContainer {
  display: flex;
  flex-direction: column;
}

.modal {
  background-color: red;
}
.logged-in-indicator{
  color: rgb(228, 228, 228) !important;
  font-weight: lighter !important;
}
.disPrice {
  padding: 5px 5px;
  border: 1px solid green;
  border-radius: 2px;
}

.detail-form {
  display: grid;
  grid-template-columns: 5fr 4fr;
  grid-gap: 20px;
  max-width: 1050px;
  margin: auto;
  background-color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  position: relative;
}
.login-form{
  grid-gap: 0px !important;
}

.expert-form {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  min-height: 400px;
}
.expert-form-extend {
  width: 80% !important;
}

.expert-form li,
.detail-form p {
  font-size: 13px;
  color: #333;
  margin-top: 6px;
  line-height: 17px !important;
}

.expert-form li,
.detail-form h6 {
  line-height: 16px;
  margin-bottom: 4px;
}

.expert-form li,
.detail-form li {
  margin-bottom: 10px;
  margin-top: 10px;
}

.expert-form span,
.detail-form span {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  padding-bottom: 5px;
}

.row-full textarea {
  width: 100%;
  margin-top: 20px;
  outline: none;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px 1px #f9f9f9 inset;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  padding: 10px;
}

.ModalCloseBut {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 21px;
  text-align: center;
  font-size: 24px;
  right: 39px;
  line-height: 17px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding-left: 20px;
  padding: 10px;
  cursor: pointer;
}

.ModalCloseBut:hover {
  background-color: #333;
}

.submit-details {
  width: 50%;
  margin: auto;
  border: none;
  background-color: #19a99d;
  font-family: "Lato", sans-serif;
  color: white;
  margin-left: 25%;
  padding: 6px;
  border-radius: 3px;
  cursor: pointer;
}

.submit-details:hover {
  opacity: 0.5;
}

.selectibleList {
  font-family: "Lato", sans-serif;
  margin-top: 50px;
}

.selectibleList div {
  display: grid;
  grid-template-columns: 1fr 9fr;
}

.selectibleList label {
  margin-top: 20px;
}

.explainInput {
  background-color: #47dcbc;
  padding: 30px;
}

.form-header {
  padding-top: 30px;
}

.expert-form-header {
  text-align: center;
}
/*@media only screen and (max-width: 480px) {

}*/
@media only screen and (max-width: 580px) {
  .cu-container-inner {
    flex-direction: column;
  }
  .cart-layout {
    display: grid;
    grid-template-columns: 1fr;
  }
  .cart-container {
    margin: 00px auto;
    padding: 20px 0px;
  }
  .cart-header {
    padding: 20px;
  }
  .cart-layout {
    font-size: 10px;
  }
  .cart-body button {
    padding: 2px 20px;
  }
  .co-container {
    grid-template-columns: 1fr;
  }
  .co-inner {
    display: flex;
    flex-direction: column;
  }
  .co-pay-btns{
    flex-direction: column-reverse;
  }
  .row {
    grid-gap: 5px;
  }

  .detail-form {
    grid-template-columns: 1fr;
    grid-gap: 0px;
    width: 100%;
  }

  .row-full textarea {
    font-size: 12px;
  }

  .detail-form p {
    font-size: 11px;
    color: #333;
  }

  .detail-form span {
    font-size: 12px;
  }

  .row-full input {
    font-size: 12px;
    padding-top: 5px;
    margin-top: 10px;
  }
  .row-full label {
    font-weight: 1000;
    font-family: "Lato", sans-serif;
  }
  .row-full small {
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
  }

  .selectibleList label {
    font-size: 14px;
    margin-top: 12px;
  }
}

.loader-wrapper {
  position: relative;
}
.pendingBtn {
  background-color: mediumspringgreen !important;
  padding: 1px 20px !important;
  cursor: inherit;
}
.pendingBtn:hover {
  background-color: mediumspringgreen !important;
  cursor: inherit;
}

.loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2000000;
  background-color: rgba(255, 255, 255, 0.7);
  color: white;
  text-align: center;
  font-family: "Lato", sans-serif;
}
.loader-d {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2000000;
  background-color: transparent;
  color: white;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.loader2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2000000;
  background-color: rgba(255, 255, 255, 0.7);
  color: white;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.loader-img {
  width: 100px;
  position: absolute;
  left: 40%;
  bottom: 20px;
}
.loader_client_account {
  width: 100px;
  position: absolute;
  left: 45%;
  bottom: 45%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.loader h1 {
  color: black;
  font-size: 12px;
  font-family: "Lato", sans-serif;
}

.loader_main_content img {
  width: 70px;
}

.required {
  color: red;
}

.file_upload {
  display: none;
}

.file_upload_label {
  cursor: pointer;
  width: 40%;
  color: #1c584b;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
}

.file_upload_label label {
  cursor: pointer;
  font-size: 16px;
}

.file_upload_label img {
  width: 20px;
  margin-bottom: 0rem !important;
}

.output_label {
  color: #1c584b;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

#uploader {
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  margin-top: 30px;
  margin-bottom: 10px;
}

progress {
  background-color: #f3f3f3;
  border: 0;
  height: 5px;
  border-radius: 9px;
  text-align: left;
}

.progressBar {
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: baseline;
}

.complete,
.uploading {
  font-size: 12px;
  margin-right: 15px;
}

.uploading {
  color: gold;
  display: none;
}

.complete {
  color: green;
  display: none;
}

.error {
  color: red;
  display: none;
}

.other_skills {
  display: inline-grid;
  grid-template-columns: 1fr 8fr;
}

.forgot_password {
  font-family: "Lato", sans-serif;
  background-color: transparent;
  color: white;
  font-size: 12px;
  border: none;
}

.forgot_password:hover {
  opacity: 0.5;
}

.emptyCart {
  margin: 20px auto;
  font-family: "Lato", sans-serif;
  min-height: 400px;
}

.paymentDetails {
  list-style: none;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  padding: 30px;
}

.passwordCard {
  background-color: #f9f9f9;
  padding: 20px;
  margin: 10px;
  font-family: "Lato", sans-serif;
}

.passwordCard h1 {
  width: 200px;
  font-size: 20px;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  color: darkred;
}

.spacing {
  height: 100px;
}
.content {
  width: 100%;
  height: 100%;
}

.password_info,
.password_info_c {
  display: none;
}
.comming_soon {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(71, 220, 188, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: "Lato", sans-serif;
  color: white;
}

.comming_soon_p {
  font-size: 10px;
  position: absolute;
  background-color: red;
  color: white;
  right: -10px;
  padding: 0px 10px;
  bottom: -25%;
  transform: rotate(-10deg);
}

.Uni-divider {
  width: 80%;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}
.Uni-divider-image-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
}
.Uni-divider-image-section img {
  margin-bottom: -20px;
  width: 100px;
}
.Uni-divider-image-section h1 {
  color: #00a99d;
  margin-bottom: 15px;
  font-family: "Lato", sans-serif;
}
.Uni-divider-image-section p {
  font-weight: bold;
  line-height: 22px;
  font-size: 22px;
}

.sliding-text {
  overflow: hidden;
  padding: 30px;
  text-align: center;
  position: relative;
  padding-top: 0px;
}
.sliding-text ul {
  list-style: none;
  margin-bottom: 0px;
  position: absolute;
  width: 195%;
  -webkit-animation: slideLeft 30s linear 0s infinite; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation: slideLeft 30s linear 0s infinite;
  animation-fill-mode: forwards;
}
.sliding-text ul li {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  padding: 0px 20px;
  font-family: "Lato", sans-serif;
}
.sliding-text ul li span {
  color: yellow;
  margin-left: 10px;
}
.promotion-banner-wrapper {
  left: 0px;
  display: flex;
  background-color: #00a99d;
  justify-content: center;
  justify-items: center;
  overflow: hidden;
  transition: 1s;
  transition-timing-function: ease-out;
  position: fixed;
  width: 20%;
  bottom: 0px;
  z-index: 20000;
  height: 0vh;
}
.top_coupon {
  text-align: center;
  padding: 7px;
  background-color: #47dcbc;
  font-family: "Lato", sans-serif;
  font-size: 12px;
}
.top_coupon span {
  background-color: yellow;
  color: black;
  padding: 5px 10px;
  margin-left: 10px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  border-radius: 3px;
  font-weight: 800;
}
.promotion-banner {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.promotion-banner h2 {
  padding-bottom: 0px;
  margin: 0px;
  text-align: center;
  font-size: 25px;
}

.promotion-per {
  display: flex;
  align-items: center;
  background-color: yellow;
  justify-content: center;
  padding: 20px;
}
.promotion-banner h3 {
  font-size: 20px;
  text-align: center;
  justify-content: center;
  color: white;
  margin-bottom: 0px;
  padding: 5px;
  width: 70%;
  margin: auto;
}
.promotion-banner h1 {
  margin-bottom: 0;
  font-size: 25px;
  margin-right: 10px;
  margin-top: 5px;
}
.promotion-banner span {
  background-color: yellow;
  color: black;
  padding: 10px 30px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  border-radius: 3px;
  font-weight: 800;
  text-align: center;
  width: 50%;
  margin: auto;
}
.other_languages{
  font-size: 13px;
  font-weight: bold;
  margin-top: 30px !important;
}
.other_languages_input{
  margin-top: 0px !important;

}
.promotion-banner p {
  padding: 20px;
  text-align: center;
  color: rgb(59, 51, 51);
}

.closePromo {
  position: absolute;
  right: 5px;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  font-size: 10px;
  top: 5px;
  cursor: pointer;
}
.closePromo:hover {
  opacity: 0.2;
}

@-webkit-keyframes slideLeft {
  0% {
    left: -196%;
  }
  100% {
    left: 100%;
  }
}
@keyframes slideLeft {
  0% {
    left: 0%;
  }
  100% {
    left: -100%;
  }
}
.ratingDiv {
  display: flex;
}
.ratingDiv p {
  margin-right: 20px;
}

.couponBtn {
  background-color: yellow;
  color: black;
  padding: 10px 20px;
  font-family: "Lato", sans-serif;
  border: none;
  margin-left: 0px;
  text-transform: capitalize;
  margin-top: 30px;
  max-width: 30%;
}

.couponDiv {
  padding-top: 10px;
}
.couponDiv input {
  padding: 10px;
  color: black;
  border: 1px solid black;
  font-family: "Lato", sans-serif;
  width: 50%;
}
.couponDiv button {
  padding: 10px 40px;
  border: none;
  background-color: #47dcbc;
  color: white;
  cursor: pointer;
}
.couponDiv button:hover {
  background-color: #39807b;
}

.couponError {
  background-color: orangered;
  text-align: left;
  padding: 5px;
  width: 100%;
  font-family: "Lato", sans-serif;
  color: white;
  opacity: 0.5;
  border-radius: 3px;
  margin-top: 10px;
}
.couponAplied {
  background-color: green;
  text-align: left;
  padding: 5px;
  width: 100%;
  font-family: "Lato", sans-serif;
  color: white;
  opacity: 0.5;
  border-radius: 3px;
  margin-top: 10px;
}
.couponImg {
  width: 30px;
}
.multi-step-wrapper {
  width: 100%;
}
.multi-step-wrapper ul {
  display: flex;
  justify-content: space-around;
}
.multi-step-wrapper ul li {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
.multi-step-wrapper ul li h3 {
  margin-bottom: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
.multi-step-wrapper ul li p {
  font-weight: bold;
  font-size: 10px !important;
}

.first-step {
  border-bottom: 1px solid #00a99d !important;
}
.first-step h3 {
  border: 1px solid #00a99d !important;
  color: #00a99d;
}
.first-step p {
  color: #00a99d;
}

.first-step-filled {
  opacity: 0.3;
}

.second-step {
  border-bottom: 1px solid #00a99d !important;
}
.second-step h3 {
  border: 1px solid #00a99d !important;
  color: #00a99d;
}
.second-step p {
  color: #00a99d;
}

.second-step-filled {
  opacity: 0.3;
}

.third-step {
  border-bottom: 1px solid #00a99d !important;
}
.third-step h3 {
  border: 1px solid #00a99d !important;
  color: #00a99d;
}
.third-step p {
  color: #00a99d;
}

.featured-experts {
  margin: 100px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured-experts h2 {
  margin-bottom: 100px;
  margin-top: 0px;
}
.featured-experts-inner {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}
.featured-experts-single {
  width: 46%;
  display: grid;
  margin-bottom: 30px;
  grid-template-columns: 2fr 7fr;
  grid-gap: 30px;
  margin-left: 20px;
}
.img-div {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.img-div img {
  width: 100%;
}

.summary-div {
  margin-top: 20px;
}
.summary-div p {
  line-height: 24px;
}
.summary-div a {
  font-size: 12px;
  color: #00a99d;
  font-weight: bold;
}
.summary-div a:hover {
  border-bottom: 1px solid;
}

.expert-specific-request {
  width: 100%;
}

.expert-specific-request .inputGroup {
  background-color: #f9f9f9;
  display: block;
  margin: 10px 0;
  position: relative;
}
.expert-specific-request .inputGroup label {
  padding: 12px 30px;
  width: 100%;
  display: block;
  text-align: left;
  color: #3c454c;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  font-family: "Lato", sans-serif;
  overflow: hidden;
  font-size: 16px;
}
.expert-specific-request .inputGroup label:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: "";
  background-color: #47dcbc;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}
.expert-specific-request .inputGroup label:after {
  width: 32px;
  height: 32px;
  content: "";
  border: 2px solid #d1d7dc;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}
.expert-specific-request .inputGroup input:checked ~ label {
  color: #fff;
}
.expert-specific-request .inputGroup input:checked ~ label:before {
  transform: translate(-50%, -50%) scale3d(46, 46, 1);
  opacity: 1;
}
.expert-specific-request .inputGroup input:checked ~ label:after {
  background-color: black;
  border-color: black;
}
.expert-specific-request .inputGroup input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}
.expert-specific-request .form {
  padding: 0 16px;
  max-width: 100%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.expert-specific-request .form {
  text-align: center;
  text-transform: uppercase;
}

.expert-specific-wrapper {
      display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    width: 80%;
}
.admission-listing,
.career-listing,
.scholarships-listing {
  width: 100%;
  background-color: white;
  padding: 50px 0px;
  margin: 25px 0px;
}
.expert-spe {
  margin: auto;
  width: 70%;
}
.admission-listing-inner,
.career-listing-inner,
.scholarships-listing-inner {
  display: flex;
  justify-content: space-evenly;
}
.listing-grouping {
  width: 35%;
}
.listing-grouping h4 {
  text-align: left;
  text-transform: initial;
}

.selectItems-wrapper {
  width: 68%;
  margin: auto;
  background-color: #47dcbc;
  padding: 20px;
  margin-bottom: 50px;
  margin-top: -50px;
}
.selectItems {
  width: 50%;
  background-color: white;
  margin: 10px 0px;
}
.selectItems .inputGroup label {
  padding: 12px 30px;
  width: 100%;
  display: block;
  text-align: left;
  color: #3c454c;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  font-family: "Lato", sans-serif;
  overflow: hidden;
}
.selectItems .inputGroup label:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: "";
  background-color: #47dcbc;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}
.selectItems .inputGroup label:after {
  width: 32px;
  height: 32px;
  content: "";
  border: 2px solid #d1d7dc;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}
.selectItems .inputGroup input:checked ~ label {
  color: #fff;
}
.selectItems .inputGroup input:checked ~ label:before {
  transform: translate(-50%, -50%) scale3d(46, 46, 1);
  opacity: 1;
}
.selectItems .inputGroup input:checked ~ label:after {
  background-color: black;
  border-color: black;
}
.selectItems .inputGroup input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}
.selectItemsBtn {
  background-color: yellow;
  border: none;
  padding: 10px 50px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  margin-top: 30px;
  transition: 0.3s;
  font-family: "Lato", sans-serif;
}

.selectItemsBtn:hover {
  background-color: black;
  color: white;
}

.email_e {
  background-color: rgba(255, 0, 0, 0.8);
  font-weight: bold;
  font-size: 12px;
  padding: 0px 10px;
  color: white;
  opacity: 0.8;
}

@media only screen and (max-width: 1100px) {
  .expert-specific-wrapper {
    width: 97%;
  }
}

@media only screen and (max-width: 819px) {
  .listing-grouping {
    width: 45%;
  }
}

@media only screen and (max-width: 720px) {
  .promotion-banner {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    justify-content: space-evenly;
  }

  .promotion-banner-wrapper {
    width: 100%;
  }
  .promotion-per {
    padding-top: 20px;
  }
  .promotion-banner h1 {
    font-size: 30px;
    margin-top: 0px;
  }
  .promotion-banner h2 {
    padding-bottom: 0px;
    margin: 0px;
    text-align: center;
  }
  .promotion-banner h3 {
    font-size: 14px;
    padding: 10px;
    text-align: center;
    color: white;
    width: 70%;
    margin: auto;
  }

  .featured-experts-single {
    flex-direction: column;
  }
  .summary-div {
    width: 90%;
    margin-left: 0px;
    text-align: center;
    margin-top: 10px;
  }
  .expert-specific-wrapper {
    width: 100%;
  }
  .expert-specific-wrapper h2 {
    width: 90%;
    font-size: 16px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
  }

  .admission-listing-inner,
  .career-listing-inner,
  .scholarships-listing-inner {
    flex-direction: column;
  }
  .expert-specific-request .form {
    padding: 0px;
  }

  .admission-listing,
  .career-listing,
  .scholarships-listing {
    width: 100%;
    background-color: white;
    padding: 10px 0px;
    margin: 0px;
    border-top: 20px solid black;
    padding-top: 50px;
  }
  .listing-grouping h4 {
    margin-left: 20px;
  }
  .expert-specific-request .inputGroup label {
    width: 90%;
    margin: auto;
  }
  .listing-grouping {
    width: 100%;
    margin: auto;
  }
  .selectItems-wrapper {
    width: 100%;
    padding: 5px;
    margin-top: 0px;
  }
  .selectItems {
    width: 100%;
  }
  .featured-experts h2 {
    margin-bottom: 50px;
    margin-top: -50px;
    text-align: center;
  }
  .featured-experts-inner {
    width: 100%;
  }
  .featured-experts-single {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 00px;
    margin-top: 20px;
  }
    .thank-you {
    width: 80%;
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }
}
@media only screen and (max-width: 500px) {
  .promotion-banner-wrapper {
    width: 100%;
  }
  .promotion-per {
    padding-top: 20px;
  }
  .promotion-banner h1 {
    font-size: 30px;
    margin-top: 0px;
  }
  .promotion-banner h2 {
    font-size: 18px;
  }
  .promotion-banner h3 {
    font-size: 14px;
    padding: 10px;
    text-align: center;
    color: white;
    width: 70%;
    margin: auto;
  }

  .featured-experts-single {
    flex-direction: column;
  }
  .summary-div {
    width: 90%;
    margin-left: 0px;
    text-align: center;
    margin-top: 10px;
  }
  .expert-specific-wrapper {
    width: 100%;
  }
  .expert-specific-wrapper h2 {
    width: 90%;
    font-size: 16px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
  }

  .admission-listing-inner,
  .career-listing-inner,
  .scholarships-listing-inner {
    flex-direction: column;
  }
  .expert-specific-request .form {
    padding: 0px;
  }

  .admission-listing,
  .career-listing,
  .scholarships-listing {
    width: 100%;
    background-color: white;
    padding: 10px 0px;
    margin: 0px;
    border-top: 20px solid black;
    padding-top: 50px;
  }
  .listing-grouping h4 {
    margin-left: 20px;
  }
  .expert-specific-request .inputGroup label {
    width: 90%;
    margin: auto;
  }
  .listing-grouping {
    width: 100%;
    margin: auto;
  }
  .selectItems-wrapper {
    width: 100%;
    padding: 5px;
    margin-top: 0px;
  }
  .selectItems {
    width: 100%;
  }
  .featured-experts h2 {
    margin-bottom: 50px;
    margin-top: -50px;
    text-align: center;
  }
  .featured-experts-inner {
    width: 100%;
  }
  .featured-experts-single {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 00px;
    margin-top: 20px;
  }
  #uploader {
    width: 100%;
  }
  .file_upload_label {
    width: 100%;
  }

  t-spaceout {
    width: 100%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .thank-you-inner-left {
    text-align: justify;
  }

  .thank-you span {
    padding: 0px;
    text-align: left;
  }
  .thank-you h1 {
    text-align: center;
  }
  .SuccessTag {
    width: 100%;
    top: 0%;
  }
  .SuccessTagForm {
    width: 100%;
    top: 0px;
    left: 0%;
    border-radius: 0px;
  }

  .FailedTagForm {
    width: 100%;
    top: 0px;
    left: 0%;
    border-radius: 0px;
  }

  .SuccessTagForm-d {
    width: 100%;
    top: 0px;
    left: 0%;
    border-radius: 0px;
  }

  .FailedTagForm-d {
    width: 100%;
    top: 0px;
    left: 0%;
    border-radius: 0px;
  }

  .checkout-button {
    width: 100%;
    margin-top: 10px;
  }
  .submit-details {
    width: 100%;
    margin-left: 0px;
  }
  .paymentDetails {
    padding: 0px;
    text-align: center;
  }

  .paymentGateway {
    display: flex;
    justify-content: center;
  }
  .paymentGateway img {
    width: 100px;
  }
  .assign_expert_container_inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px;
  }
  .assign_form input {
    text-align: center;
  }
  .assign_form {
    background-color: #f9f9f9;
    padding: 10px;
  }
  .Uni-divider {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .Uni-divider-image-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
  .Uni-divider-image-section img {
    margin-bottom: -20px;
    width: 60px;
  }
  .Uni-divider-image-section h1 {
    color: #00a99d;
    margin-bottom: 15px;
    font-size: 23px;
  }
  .Uni-divider-image-section p {
    font-size: 14px;
  }
  .sliding-text {
    overflow: hidden;
    padding: 30px;
    text-align: center;
    position: relative;
    padding-top: 0px;
  }
  .sliding-text ul {
    width: 310%;
    -webkit-animation: slideLeft 20s linear 0s infinite; /* Safari 4.0 - 8.0 */
    animation: slideLeft 20s linear 0s infinite;
  }
  .sliding-text ul li {
    font-size: 14px;
  }
  @-webkit-keyframes slideLeft {
    0% {
      left: -310%;
    }
    100% {
      left: 100%;
    }
  }
  @keyframes slideLeft {
    0% {
      left: 0%;
    }
    100% {
      left: -100%;
    }
  }

  .expert-form {
    width: 100%;
  }

  .couponError {
    width: 100%;
  }
  .couponBtn {
    max-width: 100%;
  }

  .couponDiv input {
    width: 100%;
  }
}

.swal-overlay {
  background-color: rgba(71, 220, 188, 0.2);
}

.swal-modal {
  background-color: white;
  border: 1px solid #19a99d;
}

.swal-title {
  margin: 0px;
  font-size: 16px;
  margin-bottom: 28px;
}
.header-message{
  font-size: 14px;
  padding-left: 0px !important;
  font-weight: bolder;
  text-transform: capitalize;
  color: darkred;
}

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #19a99d;
  font-size: 12px;
  border: 1px solid #19a99d;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  margin: auto;
}


.loading-logged-user-landing{
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.loading-logged-user-landing img {
  width: 100px;
}

.submitting-overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 200;
  background-color: #19a99dca;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.package-detail-wrapper{
  min-height: 100%;
  padding: 50px;
}

.spinner-loader-bg{
  width: 100%;
  height: 100%;
  position: absolute  ;
  background-color: rgba(255, 255, 255, 0.7);
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0px;
  z-index: 100000;
}
.error_message{
  color: darkred !important;
  font-size: 12px !important;
}

.forms-indicator{
  font-weight: bold !important;
  font-size: 20 !important;
}

.dashboard-bg{
  background-color: dimgray;
  max-width: 300px;
  margin: auto;
  padding: 20px 100px;
  border-radius: 5px;
  display: block;
}

.package-options{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  min-height: 50vh;
}
.package-options .note{
  font-style: italic;
  margin-top: 10px;
    padding-left: 10px;
}
.expert-specific-wrapper h2{
  text-align: left;
    width: 80%;
    padding-bottom: 20px;
}

.align-input{
  display: flex;
  justify-content: space-between;
  
}
.align-input .align-input-w{
  width: 45%;
}
.align-input  input{
  width: 100%;
  padding: 10px;
  margin-top: 20px;
}

.n-btn{
  padding-bottom: 0px !important;
  min-width: 100px !important;
}

.bait-layout{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.bait-layout textarea{
  padding: 10px
}
.bait-layout label{
  font-size: 17px;
}
.bait-layout small{
  margin-bottom: 10px;
}
.layout-btn button{
  margin-right: 10px !important;
}

.sample-link{
  font-weight: 15px;
  font-style: italic;
  color: #39807b;
  margin-top: 40px !important;
}

.sample-link a{
  color: red;
  padding: 0px 10px;
}


.p-d-box h5{
  margin-bottom: 20px!important;
	margin-top: 0!important;
}

.e-s-packages{
      display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.e-s-package-container{
  background-color: white;
  padding: 20px;
  
}

.e-s-package-container h1{
  text-transform: uppercase;
	padding: 20px;
	font-size: 30px;
	margin-bottom: 20px;
}

.e-s-btn{
  margin-top: 40px;
  min-width: 200px !important;
}

.completed-alert{
  font-size: 14px;
  text-align: center;
  color: #1c584b;
}